/*
=====
Variables
=====
*/

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,500&display=swap");

html {
  font-size: 100%;
} /*16px*/

:root {
  /* Colors */
  --backgroundColor: #fffffe;
  --cardBackground: #eaddcf;
  --headlineColor: #2b2607;
  --secondaryColor: #4d4843;
  --productCoverColor: #fcfaf7;
  /* fonts*/
  --textFont: "Open Sans", sans-serif;
  --textColor: #0d0b02;
  /* Rest of the variables */
  --transition: all 0.3s linear;
  --borderRadius: 0.25rem;
  --maxWidth: 1170px;
  --fixedWidth: 620px;
  /* Box Shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Global Styles */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--backgroundColor);
  font-family: var(--textFont);
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
hr {
  border: none;
  border-top: 1px solid var(--headlineColor);
}
p {
  margin-bottom: 1rem;
  color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.75em;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 0.875rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
small,
.text_small {
  font-size: 0.8rem;
}
code {
  font-family: "Open Sans", sans-serif;
}

/* Global classes */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--maxWidth);
}

@media screen and (min-width: 990px) {
  .section-center {
    width: 95vw;
  }
  .text-center {
    text-align: center;
  }
}

.btn {
  text-transform: uppercase;
  background: var(--headlineColor);
  color: var(--backgroundColor);
  padding: 0.375rem 0.75rem;
  display: inline-block;
  font-weight: 400;
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: var(--shadow-1);
  border-radius: var(--borderRadius);
  border-color: transparent;
}
.btn:hover,
.btn:focus {
  color: var(--secondaryColor);
  background: var(--cardBackground);
}

.title {
  text-align: center;
}

.title .underline {
  width: 6rem;
  height: 0.25rem;
  background: var(--headlineColor);
  margin-left: auto;
  margin-right: auto;
}

.page-100 {
  min-height: calc(100vh -15rem);
  padding: 5rem 0;
}
.page {
  min-height: calc(100vh - (20vh + 10rem));
}

/* Loading spinner */
.loading {
  width: 5rem;
  height: 5rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  border-top-color: var(--headlineColor);
  margin: 2rem auto;
  animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
